In [8]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [9]:
data1 = pd.read_csv('./data/csv/mbti_1.csv')
data2 = pd.read_csv('./data/csv/MBTI_500.csv')
datas = pd.concat([data1, data2])
datas.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [10]:
data1.describe(include='O')

        type                                              posts
count   8675                                               8675
unique    16                                               8675
top     INFP  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
freq    1832                                                  1

In [11]:
data2.describe(include='O')

                                                    posts    type
count                                              106067  106067
unique                                             106067      16
top     know intj tool use interaction people excuse a...    INTP
freq                                                    1   24961

In [12]:
datas.describe(include='O')

          type                                              posts
count   114742                                             114742
unique      16                                             114742
top       INTP  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
freq     26265                                                  1